/* .fieldsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.field {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
  color: #2c3e50;
}

input,
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s;
}

input:focus,
textarea:focus,
select:focus {
  border-color: #1abc9c;
  outline: none;
}

input[type="file"] {
  padding: 0;
}

.fileName {
  margin-top: 8px;
  font-size: 0.9rem;
  color: #34495e;
  font-style: italic;
}

.fieldsContainer--highlight {
  background-color: #eafaf1;
  border: 1px solid #1abc9c;
}

.helperText {
  margin-top: 5px;
  font-size: 0.85rem;
  color: #7f8c8d;
}

.fileUpload {
  position: relative;
  display: inline-block;
  width: 100%;
}

.fileInput {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.fileLabel {
  display: inline-block;
  width: 100%;
  padding: 12px;
  background-color: #108e75;
  color: white;
  text-align: center;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.fileLabel:hover {
  background-color: #16a085;
}

.fileLabel::after {
  content: "";
  display: block;
  font-size: 0.9rem;
  color: #34495e;
  margin-top: 8px;
} */

/* .fieldsContainer {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  flex-direction: row; 
  overflow-x: auto; 
}

.field {
  display: flex;
  flex-direction: column; 
  gap: 10px;
  align-items: flex-start; 
  flex-shrink: 0; 
}

label {
  margin-bottom: 8px;
  font-weight: bold;
  color: #2c3e50;
}

input,
textarea,
select {
  width: auto; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s;
  flex-grow: 1;
} */

.tableContainer {
  display: table;
  width: 100%;
  border-collapse: collapse;
  /* margin: 0px; */
  /* margin-bottom: 0px; */
}

/* .tableContainer  {
  margin: 0px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
} */

.tableHeader,
.tableRow {
  display: table-row;
}

.tableHeader > div,
.tableRow > div {
  display: table-cell;
  padding: 10px;
  border: 1px solid #ccc;
}

.tableHeader > div {
  font-weight: bold;
  background-color: #079486;
  color: rgb(255, 255, 255);
  text-align: center;
}

.tableRow > div input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}
