@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.table {
  width: 100%;
  /* border-collapse: collapse; */
  /* margin: 20px 0; */
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  /* max-width: 100%; */
  text-align: center;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 10px;
  vertical-align: top;
  width: fit-content;
}

.table th {
  background-color: #079486;
  color: rgb(243, 243, 243);
}

.table tr {
  background-color: #f9f9f9;
}

.table tr:hover {
  background-color: #f1f1f1;
}

.formContainer {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  margin: 20px auto;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  /* width: 100%; */
  overflow-x: auto;
}

.select {
  width: fit-content;
}
.contenedor_principal {
  width: fit-content;
}

.table_soportes {
  width: 100%;
  border-collapse: collapse;
}

.table_soportes th,
.table_soportes td {
  padding: 8px;
  border: 1px solid #ddd;
  white-space: nowrap;
}

.table_soportes th {
  background-color: #079486;
  color: white;
}

.table_soportes td {
  text-align: center;
}

.table_evidencias {
  width: 100%;
  border-collapse: collapse;
}

.table_evidencias th,
.table_evidencias td {
  padding: 8px;
  border: 1px solid #ddd;
  white-space: nowrap;
}

.table_evidencias th {
  background-color: #079486;
  color: white;
  text-align: center;
}

.table_evidencias td {
  text-align: center;
}

.input_fecha {
  width: fit-content;
  text-align: center;
  /* background-color: #95a5a6; */
}

.textarea {
  width: fit-content;
  text-align: justify;
  min-height: 40px; /* Altura mínima */
  max-height: 150px; /* Altura máxima */
  box-sizing: border-box;
  padding: 5px;
  font-size: 0.9rem;
  /* background-color: #1abc9c; */
  resize: vertical; /* Permitir que el usuario cambie la altura */
  overflow-y: auto; /* Scroll si el contenido excede */
}
