@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.table {
  /* width: fit-content; */
  border-collapse: collapse;
  /* margin: 20px 0; */
  font-size: 1rem;
  text-align: center;
  font-family: "Roboto", sans-serif;

  /* max-width: 100%; */
}

.table th,
.table td {
  border: 1px solid #c0bcbc;
  padding: 10px;
  vertical-align: top;
}

.table th {
  background-color: #079486;
  color: rgb(243, 243, 243);
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tr:hover {
  background-color: #f1f1f1;
}

.contenedor {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  padding: 0.5rem;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  gap: 2px;

  justify-content: space-between;
}

.formContainer {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  margin: 20px auto;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  /* width: fit-content; */
  overflow-x: auto;
}

.eje_contenedor {
  display: flex;
  align-items: center;
}

.filterContainer {
  position: sticky; /* Hace que el elemento sea fijo al hacer scroll */
  top: 0; /* Se queda pegado al borde superior */
  background-color: white; /* Fondo blanco para que destaque */
  z-index: 100; /* Asegura que se superpone a otros elementos si es necesario */
  padding: 10px; /* Espaciado interno */
  border-bottom: 1px solid #ddd; /* Línea para separarlo visualmente */
  display: flex; /* Facilita alinear elementos */
  justify-content: space-between; /* Espacia los elementos dentro del contenedor */
  align-items: center; /* Centra los elementos verticalmente */
}

.container_label {
  /* background-color: aqua; */
  width: 200px;
}

.filterSelect {
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}

.filterSelect:focus {
  border-color: #007bff; /* Cambia el color del borde al enfocarse */
  outline: none;
}

.contenedor_principal {
  width: fit-content;
}

.edit_button {
  background-color: #09766d;
  color: white;
  border: none;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px; /* Espacio entre el icono y el texto */
  transition: background 0.3s ease-in-out;
}

.edit_button:hover {
  background-color: #08b5a7;
  transform: scale(1.05);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.seguimiento_button {
  background-color: #09766d;
  color: white;
  border: none;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 0.3s ease;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.seguimiento_button:hover {
  background-color: #08b5a7;
  transform: scale(1.05);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
