.table {
  /* width: 100%; */
  border-collapse: collapse;
  /* margin: 20px 0; */
  font-size: 1rem;
  text-align: left;
  /* max-width: 100%; */
  text-align: center;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 10px;
  vertical-align: top;
}

.table th {
  background-color: #079486;
  color: rgb(243, 243, 243);
}

.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tr:hover {
  background-color: #f1f1f1;
}

.contenedor {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  padding: 0.5rem;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  gap: 2px;
  /* width: 100%; */
  justify-content: space-between;
  /* border-radius: 5px; */
}

.formContainer {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  margin: 20px auto;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  /* width: 100%; */
  overflow-x: auto;
}

.eje_contenedor {
  display: flex;
  align-items: center;
}
