.activityItem {
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
}

.activityHeader {
  cursor: pointer;
  background-color: #f5f5f5;
  padding: 0.5rem;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activityHeader:hover {
  background-color: #eaeaea;
}

.activityDetails {
  padding: 0.5rem;
}

.field {
  margin-bottom: 0.5rem;
}

.field label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.field input {
  width: 100%;
  padding: 0.25rem;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.removeButton {
  padding: 10px 20px; /* Ajusta el espacio interno del botón */
  font-size: 14px; /* Ajusta el tamaño del texto */
  width: auto; /* Puedes usar 'width' para especificar un ancho fijo o 'auto' para que se ajuste al contenido */
  height: auto; /* Similar a width, ajusta la altura */
  border-radius: 4px; /* Opcional: para bordes redondeados */
  background-color: #ff6347; /* Opcional: color de fondo */
  color: white; /* Opcional: color del texto */
  cursor: pointer; /* Cambia el cursor cuando el mouse pasa sobre el botón */
}

.removeButton:hover {
  background-color: #c0392b;
}

.activityDetails ul li {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.activityDetails ul li strong {
  flex: 1; /* El título ocupa el espacio disponible */
}

.activityDetails ul li input {
  flex: 2; /* Ajusta la proporción del campo de entrada */
  margin-right: 0.5rem;
}

.buttonMain {
  width: 100%;
  padding: 12px;
  background-color: #1abc9c;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  grid-column: span 2;
  margin-bottom: 5px;
}
.buttonMain:disabled {
  background-color: #95a5a6;
  cursor: not-allowed;
}

.buttonMain:hover:not(:disabled) {
  background-color: #16a085;
}

/* .removeButton {
  flex: 0; 
  margin-left: 0.5rem; 
} */
