.productContainer {
  /* margin: 20px; */
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.section {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
}

.header h3 {
  margin: 0;
  font-size: 1.5rem;
  flex: 1;
  text-align: left;
}

.removeButton {
  background-color: #ff5f5f;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: auto;
}
.removeButton:hover {
  background-color: #e74c3c;
}

.removeButton_añadir {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 30%;
  width: 30px;
  height: 30px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.removeButton_añadir:hover {
  background-color: #e74c3c;
}

.buttonMain:hover,
.removeButton:hover {
  opacity: 0.8;
}

.content {
  padding: 10px;
  background-color: #f9f9f9;
}

/* .field {
  margin-bottom: 10px;
}

.field label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.field input,
.field textarea {
  width: 100%;
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
} */

.buttonMain {
  width: 100%;
  padding: 12px;
  background-color: #1abc9c;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  grid-column: span 2;
  margin-bottom: 5px;
}

.buttonMain_añadir {
  background-color: #4caf50; /* Verde para añadir */
  color: white;
  border: none;
  border-radius: 30%;
  width: 30px;
  height: 30px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.buttonMain:disabled {
  background-color: #95a5a6;
  cursor: not-allowed;
}

.buttonMain:hover:not(:disabled) {
  background-color: #16a085;
}

.indicator {
  /* margin-top: 20px; */
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  background-color: #fdfdfd;
}

.contenedor_title_product {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  padding: 0.5rem;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  gap: 2px;
  width: 100%;
  justify-content: space-between;
  border-radius: 5px;
  /* 
  background-color: #16a085; */
}

.contenedor_title_product h4 {
  /* text-align: start; */
  width: 150px;
  /* cursor: pointer; */
}

.titleAndIcon {
  display: flex;
  align-items: center;
  gap: 8px; /* Espaciado entre el h4 y el icono */
}

.buttons {
  display: flex;
  gap: 5px; /* Espaciado entre los botones */
}

/* .contenedor_title_product h4:hover {
  text-decoration: underline;
} */

.indicatorHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  /* margin-bottom: 5px; */
  gap: 3px;
  border: 1px solid #e1dfdf;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.indicatorHeader strong {
  /* margin: 0; */
  font-size: 1.1rem;
  text-align: start;
  width: 100px;

  /* flex: 1; */
}

.buttonContainer {
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
}

.accordeonTitle {
  cursor: pointer;
  /* font-weight: bold;
  color: #333; */
}

.productContent {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 5px;
}

.textarea {
  width: 100%;
  min-height: 40px; /* Altura mínima */
  max-height: 150px; /* Altura máxima */
  box-sizing: border-box;
  padding: 5px;
  font-size: 0.9rem;
  resize: vertical; /* Permitir que el usuario cambie la altura */
  overflow-y: auto; /* Scroll si el contenido excede */
}

.cellWrapper {
  display: flex; /* Permite ajustar el contenido dinámicamente */
  width: 150px; /* Tamaño específico para el contenedor */
  flex-direction: column;
  overflow: hidden;
}

.label {
  margin-top: 10px;
}

.eye {
  cursor: pointer;
  font-size: 24px;
  color: #555;
}
