.formContainer {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  margin: 20px auto;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  width: 100%;
  overflow-x: auto;
}

h2 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 1.8rem;
  color: #262525;
}

.formGrid {
  display: flex; /* Flexbox para alinear en fila */
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
  /* gap: 100px; */
  align-items: flex-start;
  justify-content: center;
}

.field {
  flex: 1;
  min-width: 0;
}

.buttonMain {
  margin-top: auto;
  padding: 10px 20px;
  background-color: #1abc9c;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 600px;
}

.buttonMain:disabled {
  background-color: #95a5a6;
  cursor: not-allowed;
}

.buttonMain:hover:not(:disabled) {
  background-color: #16a085;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
  color: #34495e;
}

input,
textarea,
select {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s;
  box-sizing: border-box;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #1abc9c;
  outline: none;
}

.success,
.error {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.success {
  background-color: #d4edda;
  color: #155724;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
}

.toggleButton {
  background-color: #3498db;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.toggleButton:hover {
  background-color: #2980b9;
}

.contedor_boton {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
